<% meta_tags %>

<div class="uk-margin-top"></div>

<%= render Items::HorizontalListComponent.new(
  title: t(:trending_games, scope: i18n_scope),
  items: trending_games,
  see_all_href: all_games_path(sort: :last_week_visits_desc),
  cards_size: 'uk-width-5-6 uk-width-2-3@m uk-width-1-2@l uk-width-1-3@xl'
) %>

<%= render Items::HorizontalListComponent.new(
  title: t(:coming_soon_games, scope: i18n_scope),
  items: coming_soon_games,
  see_all_href: all_games_path(q: { coming_soon: true }, sort: :all_time_visits_desc),
  cards_size: 'uk-width-5-6 uk-width-2-3@m uk-width-1-3@l uk-width-1-4@xl'
) %>

<%= render Items::HorizontalListComponent.new(
  title: t(:new_releases_games, scope: i18n_scope),
  see_all_href: all_games_path(q: { new_release: true }, sort: :all_time_visits_desc),
  items: new_releases_games
) %>

<%= render Items::HorizontalListComponent.new(
  title: t(:on_sale_games, scope: i18n_scope),
  see_all_href: all_games_path(q: { on_sale: true }, sort: :discount_start_date_desc),
  items: on_sale_games
) %>

<%= render Items::HorizontalListComponent.new(
  title: t(:new_games, scope: i18n_scope),
  see_all_href: all_games_path(sort: :created_at_desc),
  items: new_games,
  cards_size: 'uk-width-5-6 uk-width-2-3@m uk-width-1-4@l uk-width-1-6@xl'
) %>

<div class="uk-margin-bottom"></div>
