<div class="card border border-gray-700 bg-base-200 overflow-visible w-[98%]">
  <%= badge %>

  <%= link_to game_path(game.slug) do %>
    <figure class="w-full aspect-video">
      <%= image_tag game.small_banner_url, class: "w-full rounded-t-xl", width: 480, height: 320, alt: game.title, loading: :lazy %>
    </figure>
  <% end %>

  <div class="card-body p-4">
    <div class="font-bold text-center truncate">
      <span title="<%= game.title %>">
        <%= game.title %>
      </span>
    </div>

    <div class="card-actions">
      <div class="flex w-full justify-between">
        <%= render Prices::InfoComponent.new(item: game) %>

        <div class="flex flex-row">
          <%= render WishlistItems::ButtonComponent.new(item_id: game.id, wishlisted: game.wishlisted?, style: :square) %>
        </div>
      </div>
    </div>
  </div>
</div>
