<div class="card rounded-none">
  <%= link_to game_path(game.slug) do %>
    <figure class="w-full aspect-video">
      <%= image_tag game.small_banner_url, alt: game.title, loading: :lazy, class: "rounded-2xl" %>
    </figure>
  <% end %>

  <div class="card-body p-2">
    <div class="font-bold text-center truncate">
      <span title="<%= game.title %>">
        <%= game.title %>
      </span>
    </div>

    <div class="card-actions">
      <%= render Prices::InfoComponent.new(item: game) %>
    </div>
  </div>
</div>
