<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav uk-navbar class="uk-navbar uk-navbar-container">
    <div class="uk-navbar-left">
      <%= render App::SidebarComponent.new %>

      <%= link_to root_path, class: 'uk-navbar-item uk-logo uk-text-bolder' do %>
        <%= image_tag "nindika-light.svg", id: "nindika-logo", alt: "nindika logo", width: "130px", 'uk-img' => true %>
      <% end %>

      <ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-text-bold <%= active_class_for_link(root_path) %>">
          <%= link_to t('.home'), root_path %>
        </li>
        <%= render App::Navbar::GameMenuComponent.new %>
      </ul>
    </div>

    <div class="uk-navbar-center uk-visible@m">
      <div class="uk-navbar-item">
        <%= render App::SearchFormComponent.new %>
      </div>
    </div>

    <div class="uk-navbar-right">
      <% if current_user.present? %>
        <ul class="uk-navbar-nav">
          <li class="uk-text-bold">
            <%= button_to t('.log_out'), destroy_user_session_path, class: 'uk-button uk-button-link uk-margin-right', method: :delete, data: { turbo: false } %>
          </li>
        </ul>
      <% else %>
        <div class="uk-navbar-item uk-text-bold">
          <%= link_to t('.log_in'), new_user_session_path, class: 'uk-button uk-button-primary' %>
        </div>
      <% end %>
    </div>
  </nav>
</div>
