<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <%= display_meta_tags site: "nindika" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", defer: true, "data-turbo-track": "reload" %>

    <% if Rails.env.production? %>
      <script data-domain="nindika.com" src="https://analytics.nindika.com/js/plausible.js" async defer></script>
    <% end %>
  </head>

  <body>
    <%= render Layout::FrameComponent.new(title: yield(:page_title)) do %>
      <%= yield %>
    <% end %>
    <%= yield :modal %>
  </body>
</html>
